*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: linear-gradient(rgba(240, 14, 14, 0.808), black);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 90px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-titulo{
color: aliceblue;
font-weight: 400;
font-size: 18px;
border: #fff solid 0.2px;
background-color: rgb(184, 8, 8);
border-radius: 4px;
padding: 2px;
}

.cabecalho-menu-titulo:hover{
   background-color: rgb(44, 37, 37);
}

.cabecalho-titulo{
   display: flex;
   flex-direction: row;
   font-size: 65px;
   color: #FFF2E7;
   
}
 .conteudo{
    border-top: 0.4px solid #FFF2E7;
   
 }

 .conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
 }

 .titulo-section-um{
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
 }

 .frase-section-um{
    font-weight: 400;
    font-size: 30px;
    color: #FFF2E7;
    
 }

 .conteudo-secundario-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 45px;
 }
 
 .imagem-arte-visual{
    padding: 25px;
    height: 520px;
 }

 .conteudo-secundario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .imagem-arte-visual-dois{
    padding: 0.1%;
    height: 50%;
 }
 
 .titulo-um-section-dois{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-weight: 400;
    font-size: 40px;
    color: #FFF2E7;
 }

 .frase-section-dois{
    font-weight: 400;
    font-size: 30px;
    color: #FFF2E7;
 }

 .titulo-dois-section-dois{
    font-weight: 400;
    font-size: 30px;
    color: #FFF2E7;
 }
 
.conteudo-terceiro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
 .conteudo-terciario-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
 }

 .imagem-celular{
    padding: 30px;
    height: 650px;
 }

.conteudo-quarto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
}

.imagem-monitor{
    padding: 30px;
    height: 750px;
}

.conteudo-quarto-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

 .rodape{
    border-top: 0.4px solid #FFF2E7;
   
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .titulo-rodape{
    font-weight: 400;
    font-size: 30px;
    color: #FFF2E7;
    padding-bottom: 5px;
 }

.bold{
    font-size: 18px;
    display: flex;
    padding-top: 18px;
    margin-left: 130px;
}

.btn{  
   background-color: rgb(184, 8, 8);
   width: 192px;
   height: 60px;
   border: none;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-weight: 400;
   font-size: 23px;
   color: #fff;
   border: #fff solid 1px;
   text-align: center;
   padding-top: 2px;
} 

.btn:hover{
   background-color: rgb(44, 37, 37);
}

.btn-2{  
   background-color: rgb(184, 8, 8);
   width: 192px;
   height: 60px;
   border: none;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   font-weight: 400;
   font-size: 23px;
   color: #fff;
   border: #fff solid 1px;
   text-align: center;
   padding-top: 13px;
} 

.btn-2:hover{
   background-color: rgb(44, 37, 37);
}

@media screen and (max-width: 1230px) {

   .cabecalho{
      flex-direction: column;
   }
   .conteudo{
      flex-direction: column;
   }
   .rodape{
      flex-direction: column;
   }
}

@media screen and (max-width: 995px) {

   .cabecalho{
      flex-direction: column;
      display: flex;
   }
   .cabecalho-imagem {
      flex-direction: column;
  }
  
  .cabecalho-menu {
   flex-direction: column;
  }
  
  .cabecalho-menu-titulo{
   flex-direction: column;
  }
  
  .cabecalho-menu-titulo:hover{
   flex-direction: column;
  }
  
  .cabecalho-titulo{
   flex-direction: column;
   font-size: 45px;

  }
.conteudo-principal{
   flex-direction: column; 
   display: flex;
  
}

.conteudo-principal-escrito{
   flex-direction: column;
}

.titulo-section-um{
   flex-direction: column;
}

.frase-section-um{
   flex-direction: column;
   
}

.conteudo-secundario-escrito{
   flex-direction: column;
}

.imagem-arte-visual{
   flex-direction: column;
}

.conteudo-secundario{
   flex-direction: column-reverse;
}

.imagem-arte-visual-dois{
   flex-direction: column;
}

.titulo-um-section-dois{
   flex-direction: column;
}

.frase-section-dois{
   flex-direction: column;
}

.titulo-dois-section-dois{
   flex-direction: column;
}

.conteudo-terceiro{
   flex-direction: column;
}
.conteudo-terciario-escrito{
   flex-direction: column;
}

.imagem-celular{
   flex-direction: column;
}

.conteudo-quarto{
   flex-direction: column-reverse;
}

.imagem-monitor{
   flex-direction: column;
}

.conteudo-quarto-escrito{
   flex-direction: column;
}

.titulo-rodape{
   flex-direction: column;
}

.bold{
   flex-direction: column;
}

.btn{  
   flex-direction: column;
   
} 

.btn:hover{
   flex-direction: column;
}

.btn-2{  
   flex-direction: column;
} 

.btn-2:hover{
   flex-direction: column;
}
}

@media screen and (max-width: 795px) {
.conteudo-terceiro{
   flex-direction: column;
   
}
.conteudo-terciario-escrito{
   flex-direction: column;
}
.titulo-um-section-dois{
   font-size: 28px;
}

.imagem-celular{
   flex-direction: column;
   height: 75%;
   width: 75%;
}

.conteudo-quarto{
   flex-direction: column;
}
.imagem-arte-visual{
   flex-direction: column;
   height: 75%;
   width: 75%;
}

.imagem-arte-visual-dois{
   flex-direction: column;
   height: 85%;
   width: 85%;
}
.imagem-monitor{
   flex-direction: column;
   height: 75%;
   width: 75%;
}

.conteudo-quarto-escrito{
   flex-direction: column;
   font-size: 25px;
}

.titulo-rodape{
   flex-direction: column;
}

.bold{
   flex-direction: column;
}

.btn{  
   flex-direction: column;
   
} 

.btn:hover{
   flex-direction: column;
}

.btn-2{  
   flex-direction: column;
} 

.btn-2:hover{
   flex-direction: column;
}

.rodape{
   flex-direction: row;
}

}

@media screen and (max-width: 595px) {

   .cabecalho-titulo{
      font-size: 35px;
   }
   
   .titulo-section-um{
      font-size: 55px;
   }

   .frase-section-um{
      font-size: 25px;
   }

   .cabecalho-menu-titulo{
      font-size: 14px;
   }

   .btn{
      width: 35%;
      height: 35%;
   }

   .btn-2{
      width: 35%;
      height: 35%;
   }

   .titulo-um-section-dois{
      font-size: 25px;
   }
   .frase-section-dois{
      font-size: 25px;
   }
   .titulo-dois-section-dois{
      font-size: 25px;
   }
   .titulo-rodape{
      font-size: 25px;
   }
}

@media screen and (max-width: 1380px) and (min-width: 1231px) {

   .cabecalho-titulo{
      font-size: 45px;
   }
   
}

@media screen and (max-width: 486px) {
   .cabecalho-titulo{
      font-size: 28px;
   }
   .titulo-section-um{
      font-size: 45px;
   }
   .frase-section-um{
      font-size: 23px;
   }
   .titulo-um-section-dois{
      font-size: 21px;
   }
   .frase-section-dois{
      font-size: 21px;
   }
   .titulo-dois-section-dois{
      font-size: 21px;
   }
   .titulo-rodape{
      font-size: 21px;
   }
   .bold{
      font-size: 21px;
   }

   .btn{
      width: 35%;
      height: 35%;
   }

   .btn-2{
      width: 35%;
      height: 35%;
   }
}